          *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background:#DCFFB0;
}

header{
    background: grey;
    padding: 1rem 1rem 2rem;
}

.container {
    margin-top: 1%;
    padding: 0 2%;
}

.search{
   display: flex;
   align-items: center;
   margin-left: 2rem;
   justify-content: space-between;
}

table{
    background:#FFFF;
    text-align: left;
    border: 1px solid black;
    margin-top: 1rem;
    padding: 0 2%;
}

footer{
    background: grey;
    display: flex;
    justify-content: center;
    bottom: 0;
    position:absolute;
    width: 100%;
}

.alterar{
    cursor: pointer;
    background: none;
    border: none;
    color: blue;
}

.excluir{
    cursor: pointer;
    background: none;
    border: none;
    color: red;
}

.dropdown-button {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: inline-block;
    margin-left: 5%;
}

.dropdown-content {
    background-color: gray;
    display: none;
    position: absolute;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropdown-button {
    background-color: lightgrey;
}

input{
    height: 30px;
    width: 50%;
    border-radius: 10px 10px;
    border: none;
}

.salvar{
    background: blue;
    height: 30px;
    border-radius: 10px 10px;
    width: 100px;
    color: white;
    margin-left: 2%;
    border: none;
}

.salvar1{
    background: blue;
    height: 30px;
    border-radius: 10px 10px;
    width: 100px;
    color: white;
    margin-right: 38%;
}

.inputForm{
    margin-top: 1%;
    width: 45%;
}

.primary-button {
    border: none;
    cursor: pointer;
    color: white;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    font: 400 13.3333px Arial;
    padding: 1% 5%;
    border-radius: 10px 10px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-align: center;
    vertical-align: middle;
    text-decoration: none;
    font-size: 16px;
    background-color: darkblue; /* Green */
}